{% extends 'base.html' %}

{% block title %} Password Change {% endblock %}

{% block content %}
    {% include 'profile/page_header.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% if form.errors %}
                            {% include 'common/message/error_msg.html' %}
                        {% endif %}
                        {% include 'common/message/success_msg.html' %}
                        {% csrf_token %}
                        <div class="from-group">
                            <label for="old_password">Current Password</label>
                            <input type="password" name="old_password" class="form-control" id="old_password"/>
                        </div>
                        <div class="from-group mt-2">
                            <label for="new_password1">New Password</label>
                            <input type="password" name="new_password1" class="form-control" id="new_password1"/>
                        </div>
                        <div class="from-group mt-2">
                            <label for="new_password2">Confirm Password</label>
                            <input type="password" name="new_password2" class="form-control" id="new_password2"/>
                        </div>
                        <div class="hstack gap-2 mt-2">
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
