{% extends 'base_auth.html' %}
{% load static %}

{% block title %} Reset password complete {% endblock %}

{% block content %}
    <div class="p-lg-5 p-4 text-center">
        <div class="avatar-lg mx-auto mt-2">
            <div class="avatar-title bg-light text-success display-3 rounded-circle">
                <i class="ri-emotion-happy-fill"></i>
            </div>
        </div>
        <div class="mt-4 pt-2">
            <h4>Well done !</h4>
            <h5>Your password has been successfully set.</h5>
            <p class="text-muted mx-4">Aww yeah, your password has been successfully set. So you can login your new given password below the signIn link. Please check the button.</p>
            <div class="mt-4">
                <a href="{% url 'signin' %}" class="btn btn-success w-100">Back to SignIn</a>
            </div>
        </div>
    </div>
{% endblock %}
