{% extends 'base_auth.html' %}
{% load static %}

{% block title %} Password Set {% endblock %}

{% block content %}
    <div class="p-lg-5 p-4">
        <h5 class="text-primary">Create new password</h5>
        <p class="text-muted">Your new password must be different from previous used password.</p>

        <div class="p-2">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="password-input">Password</label>
                    <div class="position-relative auth-pass-inputgroup">
                        <input name="new_password1" type="password" class="form-control pe-5 password-input"
                               placeholder="Enter password" id="password-input" aria-describedby="passwordInput"
                               required>
                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="confirm-password-input">Confirm Password</label>
                    <div class="position-relative auth-pass-inputgroup mb-3">
                        <input name="new_password2" type="password" class="form-control pe-5 password-input"
                               placeholder="Confirm password" required>
                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                type="button" id="confirm-password-input"><i class="ri-eye-fill align-middle"></i>
                        </button>
                    </div>
                </div>
                <div class="mt-4">
                    <button class="btn btn-success w-100" type="submit">Set password</button>
                </div>
            </form>
        </div>
        <div class="mt-5 text-center">
            <p class="mb-0">Wait, I remember my password... <a href="{% url 'signin' %}"
                                                               class="fw-semibold text-primary text-decoration-underline">
                Click here </a></p>
        </div>
    </div>
{% endblock %}
