{% extends 'base_auth.html' %}
{% load static %}

{% block title %} SignIn {% endblock %}

{% block content %}
    <div class="p-lg-5 p-4">
        <div>
            <h5 class="text-primary">Welcome Back !</h5>
            <p class="text-muted">Sign in to continue to <b>My</b> POS.</p>
        </div>
        <div class="mt-4">
            <form method="post" name="post">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="alert alert-danger" role="alert">Your email & password not match.</p>
                {% endif %}
                <div class="mb-3">
                    <label for="email" class="form-label">Enter Your Valid Email</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <div class="float-end">
                        <a href="" class="text-muted">Forgot password?</a>
                    </div>
                    <label class="form-label" for="password-input">Enter Password</label>
                    <div class="position-relative auth-pass-inputgroup mb-3">
                        {{ form.password }}
                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                    </div>
                </div>

                <div class="form-check">
                    {{ form.remember_me }}
                    <label class="form-check-label" for="auth-remember-check">Remember me</label>
                </div>
                <div class="mt-4">
                    <button class="btn btn-success w-100" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
