{% load static %}
<!-- JAVASCRIPT -->
{#<script src="{% static 'jquery/jQuery-2.1.4.min.js' %}"></script>#}
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<!-- apexcharts -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<!-- Select2 -->
{#<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>#}
<!-- Vector map-->
<script src="{% static 'assets/libs/jsvectormap/js/jsvectormap.min.js' %}"></script>
<script src="{% static 'assets/libs/jsvectormap/maps/world-merc.js' %}"></script>
<!--Swiper slider js-->
<script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"></script>
<!-- Dashboard init -->
<script src="{% static 'assets/js/pages/dashboard-ecommerce.init.js' %}"></script>
<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>
