<ul class="navbar-nav" id="navbar-nav">
    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
    <li>
        <a class="nav-link menu-link" href="/">
            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="#product" data-bs-toggle="collapse" role="button"
           aria-expanded="false" aria-controls="sidebarApps">
            <i class="ri-product-hunt-fill"></i> <span data-key="t-apps">Product</span>
        </a>
        <div class="collapse menu-dropdown" id="product">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{% url 'categories' %}" class="nav-link" data-key="t-calendar"> Category </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product_units' %}" class="nav-link" data-key="t-chat"> Product Unit </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link" data-key="t-chat"> Product </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="#">
            <i class="ri-suitcase-fill"></i> <span data-key="t-widgets">POS</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="#">
            <i class="ri-shopping-cart-2-line"></i> <span data-key="t-widgets">Orders</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link menu-link" href="{% url 'customers' %}">
            <i class="ri-customer-service-2-fill"></i> <span data-key="t-widgets">Customer</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="{% url 'suppliers' %}">
            <i class="ri-honour-line"></i> <span data-key="t-widgets">Suppliers</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="{% url 'expenses' %}">
            <i class="ri-newspaper-line"></i> <span data-key="t-widgets">Expense</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="#package" data-bs-toggle="collapse" role="button"
           aria-expanded="false" aria-controls="sidebarApps">
            <i class="ri-red-packet-fill"></i> <span data-key="t-apps">Package</span>
        </a>
        <div class="collapse menu-dropdown" id="package">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{% url 'create_package' %}" class="nav-link" data-key="t-calendar"> Create Package </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'packages' %}" class="nav-link" data-key="t-chat"> Package List </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="#menu" data-bs-toggle="collapse" role="button"
           aria-expanded="false" aria-controls="sidebarApps">
            <i class="ri-menu-2-fill"></i> <span data-key="t-apps">Menu</span>
        </a>
        <div class="collapse menu-dropdown" id="menu">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{% url 'create_menu' %}" class="nav-link" data-key="t-calendar"> Create Menu </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create_menu_item' %}" class="nav-link" data-key="t-chat"> Create Menu Item </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="{% url 'notes' %}">
            <i class="ri-sticky-note-line"></i> <span data-key="t-widgets">Notes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="#">
            <i class="ri-file-user-line"></i> <span data-key="t-widgets">Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-link" href="#setting" data-bs-toggle="collapse" role="button"
           aria-expanded="false" aria-controls="sidebarApps">
            <i class="ri-apps-2-line"></i> <span data-key="t-apps">Settings</span>
        </a>
        <div class="collapse menu-dropdown" id="setting">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-key="t-calendar"> Other settings </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-key="t-chat"> Application settings </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
