{% extends 'base.html' %}

{% block title %} Create new supplier {% endblock %}

{% block content %}
    {% include 'suppliers/page_header.html' %}
    <form method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div style="display: flex; justify-content: space-between">
                    <h3 class="card-title">{% if not customer.id %}Create new supplier {% else %}Update the supplier{% endif %}</h3>
                    <div>
                        {% if form.errors %}
                            {% include 'common/message/error_msg.html' %}
                        {% endif %}
                        {% include 'common/message/success_msg.html' %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% include 'suppliers/form.html' %}
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <a href="{% url 'suppliers' %}" class="btn btn-warning btn-sm">Back</a>
            </div>
        </div>
    </form>
{% endblock %}
