<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Phone number</label>
                    {{ form.phone }}
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <label for="is_active" class="form-label">Is active</label>
                    {{ form.is_active }}
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    {{ form.address }}
                </div>
                <div class="mb-2">
                    <label for="contact_person" class="form-label">Contact person</label>
                    {{ form.contact_person }}
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
