{% load static %}
{% if suppliers %}
    <table class="table align-middle table-nowrap">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>PHone</th>
            <th>Email</th>
            <th>Status</th>
            <th>Address</th>
            <th>Contact Person</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody class="list form-check-all">
        {% for obj in suppliers %}
            <tr>
                <td>#{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.phone }}</td>
                <td>{{ obj.created_at }}</td>
                <td>{% if obj.is_active %} Active {% else %} Not Active {% endif %}</td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.contact_person }}</td>
                <td class="text-center">
                    <a href="{% url 'update_supplier' obj.pk %}" class="btn btn-sm btn-success edit-item-btn"><i
                            class="bx bx-pencil fs-15"></i></a>
                    <a href="{% url 'delete_supplier' obj.pk %}" class="btn btn-sm btn-danger remove-item-btn"><i
                            class="bx bx-trash fs-15"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="text-center">
        <h3 class="card-title">No Supplier Yet!</h3>
    </div>
{% endif %}
